body {
  background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSeDL5n_b67V9Vjb7tVP_iQQv1_bhXQaQDoN8YYV3DgBiuMuck0Rg') !important;
}
 
#masthead,
#primary {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  background-color: #fff;
  padding: 20px !important;
}
#masthead {
  background: none;
}
#masthead img, #primary img {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}